@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&family=Allison&display=swap');

:root{
    --black-shade: #272727;
    --green-shade: #4c8b5a;
    --blue-shade: #cce9eb;
    --red-shade: #d0a7a7;
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Abhaya Libre', serif;
    margin: 0;
    padding: 0;
}

#library-container{
    display: flex;
}

.blur{
    opacity: 0.3 !important;
}

#details-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 272px;
    height: 100vh;
    background-color: var(--black-shade);
    position: fixed;
}

#library-name-container, #tagline{
    font-family: 'Allison', cursive;
    font-size: 4rem;
    padding-top: 30px;
}

#library-name-container{
    width: 272px;
    text-align: center;
    color: white;
}

#library-stats-container{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.library-stats{
    display: flex;
    color: white;
    align-items: center;
}

.stats-text{
    background-color: white;
    color: black;
    width: 164px;
    padding: 20px;
    text-align: center;
}

.stats-numbers{
    width: 108px;
    text-align: center;
}

#contact-details-container{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 60px;
}

img{
    height: 15px;
}

#books-section-container{
    width: 80vw;
    margin-left: 272px;
}

#header{
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    gap: 5px;
    position: fixed;
    width: 80vw;
    height: 190px;
    z-index: 2;
    background-color: white;
    box-shadow: 0px 1px 20px rgba(0,0,0,0.15);
}

#tagline{
    color: black;
}

#addition-container{
    display: flex;
    align-items: center;
    gap: 15px;
}

#addition-feedback{
    font-size: 1.8rem;
}

.success-feedback{
    color: var(--green-shade);
}

.failure-feedback{
    color: var(--red-shade);
}

#add-book{
    background-color: var(--green-shade);
    border: none;
    width: 215px;
    height: 55px;
    border-radius: 6px;
    color: white;
    margin-left: 20px;
    font-family: 'Abhaya Libre', serif;
    font-size: 1.3rem;
}

#books-container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 210px;
    padding: 0 48px 0px 48px;
    position: relative;
    width: 80vw;
    height: 50vh;
    gap: 10px;
}

.outer-book-container{
    width: 236px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inner-book-container{
    width: 232px;
    border: solid 1px var(--black-shade);
    border-bottom: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 5px;
    padding: 20px;
    box-shadow: 0px 1px 20px rgba(0,0,0,0.15);
}

.book-controls{
    width: 236px;
}

.book-controls button{
    width: 118px;
    height: 40px;
    color: var(--black-shade);
    border: none;
    border-radius: 0;
}

button{
    box-shadow: 0px 1px 20px rgba(0,0,0,0.15);
}

.is-read{
    background-color: var(--blue-shade);
}

.remove{
    background-color: var(--red-shade);
}

#form-container{
    position: absolute;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.6);
    width: 50vw;
    height: 60vh;
    z-index: 3;
    display: none;
    flex-direction: column;
    justify-content: space-between;
}

.form-container{
    display: flex !important;
}

#form-header{
    display: flex;
    font-family: 'Allison', cursive;
    font-size: 3rem;
    justify-content: space-between;
    padding: 0 30px;
    align-items: center;
}

#cross{
    color: var(--red-shade);
    font-size: 3.5rem;
    font-weight: 600;
}

#cross:hover{
    cursor: pointer;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.field-container{
    display: flex;
    width: 500px;
    justify-content: space-between;
}

.label-container{
    font-size: 1.4rem;
    width: 140px;
    text-align: center;
}

.input-container{
    width: 330px;
}

input{
    border: none;
    border-bottom: solid 1px var(--black-shade);
}

input[type="text"]{
    width: 320px;
}

input[type="text"]:focus, input[type="number"]:focus{
    outline: none;
    border-bottom: 1px solid var(--green-shade);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"]{
    -moz-appearance:textfield;
}

#checkbox-container{
    display: flex;
    align-items: center;
}

#buttons-container{
    padding-top: 30px;
    display: flex;
    width: 300px;
    justify-content: space-between;
    margin: 0 auto;
}

#buttons-container button{
    border: none;
    border-radius: 0;
    width: 105px;
    height: 40px;
    text-align: center;
    font-family: 'Abhaya Libre', serif;
    font-size: 1.2rem;
}

button{
    cursor: pointer;
}

#cancel{
    background-color: var(--red-shade);
}

#add{
    background-color: var(--green-shade);
}